<div class="article-info">
  <abbr  title="{{ article.date.isoformat() }}">
          <i class="far fa-calendar-alt"></i> 
          {{ article.date.strftime('%Y-%m-%d') }}
  </abbr>
  {% if article.tags %}
    <div class="tags">
      {% for tag in article.tags %}
        <a  href="{{ SITEURL }}/{{ tag.url }}"><span class="tag">#{{ tag | escape }} </span> </a>
       {% endfor %}
    </div>
   {% endif %}
</div>
