  <article>
      <header>          
        <h3 class="entry-title">
          <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
            title="Permalink to {{ article.title|striptags }}">{{ article.title }}
          </a>
           
        </h3>     
         {% include '_article_infos.jinja2' %}
        {# {% include 'twitter.html' %} #}
        <div class="fb-like" data-href="{{ SITEURL }}/{{ article.url }}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
      </header>
       
      <div class="entry-content">
        <div> 
            {% if article.image is defined %} 
                <div>
                  <img src="{{ article.image }}" alt="article page" class="article-image" />
               </div>
            {% endif %}

        </div>
        <div class="blog-content">
          {{ article.content }}
        </div>
      </div><!-- /.entry-content -->
      {% if article.status != "draft" %}
        <div id="fb-root"></div>
          <h2>Comments !</h2>
          <div data-no-instant class="fb-like" data-href="{{ SITEURL }}/{{ article.url }}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
          <div data-no-instant class="fb-comments" data-href="{{ SITEURL }}/{{ article.url }}" data-width="" data-numposts="5"></div>
        </div>
        <!-- <script async defer data-no-instant crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.3&appId=362195391033166&autoLogAppEvents=1"></script>
        <script data-no-instant>
          /* Google Analytics code here, without ga('send', 'pageview') */          
          
        </script> -->
      {% endif %}
</article>