<section class="banner-section">
  <div class='msg'>
    <h1><a href="{{SITEURL}}">{{ SITENAME }}</a></h1>
    <p>{{ SITESUBTITLE }}</p>
  </div>
  <p class="banner">{{BANNERTITLE}}</p>
</section>
<header id="banner" class="body">
    <ul id="ul-nav-top">
      <li><a href="{{ SITEURL }}" class="{% if page_name == 'index' %}active{% endif %} nav-item" >Home</a></li>
      {% for title, link in MENUITEMS %}
      <li><a href="{{ SITEURL }}{{ link }}" class="{% if page_name == title.lower() %}active{% endif %} nav-item">{{ title }}</a></li>
      {% endfor %}
    </ul>
  <nav>
    <ul class="columns">
      {% if DISPLAY_CATEGORIES_ON_MENU -%}
        {% for cat, null in categories %}
        <li class="column {% if cat==category %} active {% endif %} " ><a href="{{ SITEURL }}/{{ cat.url }}">{{
            cat }}</a></li>
        {% endfor %}
      {% endif %}
    </ul>
  </nav>
</header><!-- /#banner -->