<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">

<head>
  <meta charset="utf-8" />
  <meta name="author" content="{{ AUTHOR }}" />
  <meta name="robots" content="index, follow"/>
  
  {% if article is defined %}
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
  <meta property="og:title" content="{{ article.title | replace("\"", "&quot;") }}" />
  <meta property="og:description" content="{{ article.content | striptags | replace("\"", "&quot;") | truncate(196, False, '...') }}" />
  <meta property="og:image" content="{{ SITEURL }}/images/{% if article.opengraph_image is defined %}{{ article.opengraph_image }}{% else %}opengraph-default.jpg{% endif %}" />
  {% elif page is defined %}
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ SITEURL }}/{{ page.url }}" />
  <meta property="og:title" content="{{ SITENAME }} - {{ page.title | replace("\"", "&quot;") }}" />
  <meta property="og:description" content="{{ page.content | striptags | replace("\"", "&quot;") | truncate(196, False, '...') }}" />
  <meta property="og:image" content="{{ SITEURL }}/images/{% if page.opengraph_image is defined %}{{ page.opengraph_image }}{% else %}opengraph-default.jpg{% endif %}" />
  {% else %}
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ SITEURL }}/{{ output_file }}" />
  <meta property="og:title" content="{{ SITENAME }}" />
  <meta property="og:description" content="huongnhdh blog" />
  <meta property="og:image" content="{{ SITEURL }}/images/opengraph-default.jpg" />
  {% endif %}

  <link rel="canonical" href="{% block canonicalurl %}{{ SITEURL }}{%endblock%}" />

  <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />

  {% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}"
    type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
  {% endif %}
  {% if FEED_ALL_RSS %}
  <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}"
    type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
  {% endif %}
  {% block extra_head %}{% endblock extra_head %}
</head>

<body id="index" class="home">
  <div class="container">
    {% include 'github.html' %}
    {% include '_banner.html' %}
    {% block content %}
    {% endblock %}
    <section id="extras" class="body">
      {% if LINKS %}
      <div class="blogroll">
        <h2>{{ LINKS_WIDGET_NAME | default('links') }}</h2>
        <ul>
          {% for name, link in LINKS %}
          <li><a href="{{ link }}">{{ name }}</a></li>
          {% endfor %}
        </ul>
      </div><!-- /.blogroll -->
      {% endif %}
      {% if SOCIAL or FEED_ALL_ATOM or FEED_ALL_RSS %}
      <div class="social">
        <h2>{{ SOCIAL_WIDGET_NAME | default('social') }}</h2>
        <ul>
          {% if FEED_ALL_ATOM %}
          <li><a href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}"
              type="application/atom+xml" rel="alternate">atom feed</a></li>
          {% endif %}
          {% if FEED_ALL_RSS %}
          <li><a href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}"
              type="application/rss+xml" rel="alternate">rss feed</a></li>
          {% endif %}

          {% for name, link in SOCIAL %}
          <li><a href="{{ link }}">{{ name }}</a></li>
          {% endfor %}
        </ul>
      </div><!-- /.social -->
      {% endif %}
    </section><!-- /#extras -->

    <footer id="contentinfo" class="body">
      <address id="about" class="vcard body">
        Copyright © 2018 by <a href="https://github.com/huongnhdh">HuongNHD</a>.
      </address><!-- /#about -->

      <p>The site was generate by <a href="https://github.com/getpelican/pelican">Pelican</a> with theme <a href="#"> notmyidea</a> modified, thanks!</p>
    </footer><!-- /#contentinfo -->
  </div>
    {% include 'analytics.html' %}
    {% include 'disqus_script.html' %}
    {% include 'facebook_script.html' %}

</body>

</html>