<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">

<head>
  <meta charset="utf-8" />
  <meta name="author" content="{{ AUTHOR }}" />
  <meta name="robots" content="index, follow"/>
  
  {% if article is defined %}
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
  <meta property="og:title" content="{{ article.title | replace("\"", "&quot;") }}" />
  <meta property="og:description" content="{{ article.content | striptags | replace("\"", "&quot;") | truncate(196, False, '...') }}" />
  <meta property="og:image" content="{% if article.image is defined %}{{ article.image }} {% else %} {{ SITEURL }}/images/opengraph-default.png {% endif %}" />
  {% elif page is defined %}
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ SITEURL }}/{{ page.url }}" />
  <meta property="og:title" content="{{ SITENAME }} - {{ page.title | replace("\"", "&quot;") }}" />
  <meta property="og:description" content="{{ page.content | striptags | replace("\"", "&quot;") | truncate(196, False, '...') }}" />
  <meta property="og:image" content="{{ SITEURL }}/images/{% if page.opengraph_image is defined %}{{ page.opengraph_image }}{% else %}opengraph-default.png{% endif %}" />
  {% else %}
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ SITEURL }}/{{ output_file }}" />
  <meta property="og:title" content="{{ SITENAME }}" />
  <meta property="og:description" content="huongnhdh blog" />
  <meta property="og:image" content="{{ SITEURL }}/images/opengraph-default.png" />
  {% endif %}

  <link rel="canonical" href="{% block canonicalurl %}{{ SITEURL }}{%endblock%}" />

  <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />

  {% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}"
    type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
  {% endif %}
  {% if FEED_ALL_RSS %}
  <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}"
    type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
  {% endif %}
  <link rel="apple-touch-icon" sizes="57x57" href="{{ SITEURL }}/extra/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ SITEURL }}/extra/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ SITEURL }}/extra/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ SITEURL }}/extra/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ SITEURL }}/extra/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ SITEURL }}/extra/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ SITEURL }}/extra/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ SITEURL }}/extra/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ SITEURL }}/extra/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ SITEURL }}/extra/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ SITEURL }}/extra/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ SITEURL }}/extra/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ SITEURL }}/extra/favicon-16x16.png">
  <link rel="manifest" href="{{ SITEURL }}/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  {% block extra_head %}{% endblock extra_head %}
</head>

<body id="index" class="home">
  <div class="container">
    {% include 'github.html' %}
    {% include '_banner.html' %}
    {% block content %}
    {% endblock %}
    <section id="extras" class="body">
      {% if LINKS %}
      <div class="blogroll">
        <h2>{{ LINKS_WIDGET_NAME | default('links') }}</h2>
        <ul>
          {% for name, link in LINKS %}
          <li><a href="{{ link }}" class="nav-item">{{ name }}</a></li>
          {% endfor %}
        </ul>
      </div><!-- /.blogroll -->
      {% endif %}
      {% if SOCIAL or FEED_ALL_ATOM or FEED_ALL_RSS %}
      <div class="social">
        <h2>{{ SOCIAL_WIDGET_NAME | default('social') }}</h2>
        <ul>
          {# {% if FEED_ALL_ATOM %}
          <li><a href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}"
              type="application/atom+xml" rel="alternate">atom feed</a></li>
          {% endif %} #}
          {% if FEED_ALL_RSS %}
          <li><a href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}"
              type="application/rss+xml" rel="alternate">rss feed</a></li>
          {% endif %}

          {% for name, link in SOCIAL %}
          <li><a href="{{ link }}">{{ name }}</a></li>
          {% endfor %}
        </ul>
      </div><!-- /.social -->
      {% endif %}
    </section><!-- /#extras -->

    <footer id="contentinfo" class="body">
      <address id="about" class="vcard body">
        Copyright © 2018 by <a href="https://github.com/huongnhdh">HuongNHD</a>.
        <p>The site was generate by <a href="https://github.com/getpelican/pelican">Pelican</a> with theme <a href="#"> notmyidea</a> modified, thanks!</p>
        <div>Icons made by <a href="https://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"  title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
      </address><!-- /#about -->
    </footer><!-- /#contentinfo -->
  </div>
    {% include 'analytics.html' %}
    {% include 'disqus_script.html' %}
    {% include 'facebook_script.html' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/instantclick/3.1.0/instantclick.min.js" data-no-instant></script>
    <script data-no-instant>InstantClick.init();</script>
</body>
</html>