
@import url(https://fonts.googleapis.com/css?family=Exo);
.banner-section {
  font-family: 'Exo', sans-serif !important;
  /*background: url('https://i.imgur.com/P9KDS9J.png') no-repeat fixed center center / cover;*/
}
.banner-section {
  /* left: 50%; */
  /* position: absolute; */
  max-width: 800px;
  margin: 0 auto;
  display: block;
}
.banner-section .msg {
  /* border-top: 3px solid #C74451; */
  border-bottom: 3px solid #C74451;
  padding: 0.75em 0 1em;
  display: block;
  text-align: center;
}
.banner-section .banner {
  text-align: center;
  background: #C74451;
  box-shadow: 0 15px #C74451;
  width: 160px;
  padding-top: 8px;
  padding-bottom: 5px;
  margin: auto;
  display: block;
  color: #fff;
}
.banner-section .banner:before {
  /* content: "";
  position: absolute;
  bottom: -15px;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 10px solid #fff;
  left: 50%;
  position: absolute;
  transform: translateX(-50%); */
}
