#ul-nav-top {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#ul-nav-top li {
  float: left;
}
#ul-nav-top li a {
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
